---
layout: default
title: Home
---
<img src="public/images/sanfran.jpg" alt="">
<h1>Hola Fellows 2015</h1>

Recently I was looking for a designer to collaborate with on a project called Code Armory. I started looking for online resources to meet some talented designers. I discovered a site called CollabFinder and immediately realized I had discovered something of extraordinary value.

CollabFinder allows you to search for designers, developers, artists, writers, and scientists by physical location, skills, and interests. You can pitch them a project you'd like to "collaborate" on (collaboration in this context, means non-monetary help).

So I started looking for designers in the San Francisco area, found some really talented people, sent them a note about the project I needed help on, and within an hour I had my replies. I quickly started emailing back and forth with a designer named Lain Lee. He told me he needed some help coding his new design site, and asked if I'd be interested in trading services. We actually met at Starbucks down the road from my office that same day, and started talking about our ideas and life in general. We just clicked. Our interests and passions line up so well. It's been a great partnership. Today, I'm happy to say we launched Lain's new site. The site was put together with KirbyCMS, a few jQuery plugins, and some good ol' fashioned elbow grease.



<!-- <div class="posts">
  {% for post in paginator.posts %}
    <div class="post post-preview">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.theme }}</span>
    </div>

  {% endfor %}
</div>
 -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
