---
layout: default
title: Home
---
<img src="public/images/sanfran.jpg" alt="">
<h1>Hola Fellows 2015!</h1>

<p>This website is a space to learn together about the 2015 Code for America governments  before we embark on our fellowship year. The more we know about our partner cities and their focus areas, the more effective we'll be when we land in February. </p>

<p>This project is new and could go in many directions. We can engage the staff and former fellows as we build it out. Maybe it will end up sparking conversations with parter city stakeholders too. All ideas and contributions are welcome.</p>

<p>As a side bonus, we'll get better aquainted with each other before the fellowship starts, and get to practice building a website together.</p>

<p>Happy hacking!</p>

<!-- <div class="posts">
  {% for post in paginator.posts %}
    <div class="post post-preview">
      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.theme }}</span>
    </div>

  {% endfor %}
</div>
 -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
